body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.signup-container h1 {
    margin-bottom: 10px;
}
.signup-container p {
    margin-bottom: 20px;
}
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.signup-button {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}
.separator {
    margin: 10px 0;
}
.google-signin-button {
    background-color: #5b37db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin: 10px 0;
}
.login-link {
    text-decoration: none;
    color: #007BFF;
}
